body {
    background-color: #222244;
    font-family: 'Franklin Gothic Medium';
    /* justify-content: space-between; */
}

.wrapper {
    width: 100%;
    display: flex;
}

.hw {
    margin: auto;
}
/*
.important-hw {
    margin-right: 50px;
} */

table {
    font-size: 18px;
    border-spacing: 0;
    text-align: center;
}

thead tr {
    background-color: #3657A3;
    color: white;
}

tr.week-day {
    background-color: #bdbdd4;
}

tr.common__row{
    background-color: #F8E391;
    color: #222244;
}


tr.important.row {
    background-color: #c68ffa;
    color: #222244;
}


th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: #222244;
    padding: 10px 20px;
    word-wrap:break-word;
    max-width: 250px;
}

th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}
tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
tr td:last-child {
    border-right: none;
}